<div id="<%= dom_id coin %>">
  <p>
    <strong>Descricao:</strong>
    <%= coin.descricao %>
  </p>

  <p>
    <strong>Sigla:</strong>
    <%= coin.sigla %>
  </p>

  <p>
    <strong>Url imagem:</strong>
    <%= coin.url_imagem %>
  </p>

</div>
